.about {
    border: solid red 3px;
    /* position: relative; */
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-flow: column;
    background-color: rgb(234, 0, 255);
}

.top {
    /* min-width: 100vw; */
    z-index: 2;
    /* top: -15; */
    position: absolute;
    height: 15vh;
    width: 100vw;
    background-color: rgb(0, 184, 0);
    border: solid rgb(155, 153, 153) 2px;
    rotate: 8deg;
    /* transform-origin: 50vh; */
}

.text_wrapper {
    border: solid rgb(172, 0, 0) 2px;
    top: 0;
    left: 0;
    position: absolute;
    font-size: 1.8rem;
    /* background-color: rgba(255, 255, 0, 0.151); */
    text-align: center;
    /* height: 100vh; */
    width: 55vw;
    padding: 0 5rem;
}

.show {
    /* z-index: 2; */
    top: 0;
    z-index: 3;
    color: black;
    background-color: rgba(85, 160, 209, 0);
    padding-top: 4rem;
    overflow: hidden;
}

.no_show {
    z-index: 1;
    top: 25%;
    color: rgb(255, 255, 255);
    background-color: rgba(42, 55, 63, 0);
    /* margin-bottom: 30px; */
}

.svg_wrapper {
    background-color: rgb(43, 255, 0);
    height: 100vh;
    width: 50vw;
}

.divider_wrapper {
    position: absolute;
    /* z-index: 8; */
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
    /* line-height: 0; */
    /* position: absolute; */
    /* top: 0; */
    /* left: 0; */
    /* width: 100%; */
    /* overflow: hidden; */
    border: solid 2px yellow;
    /* margin-top: 12rem; */
    /* height: 50%; */
}

.divider_wrapper .svg {
    position: relative;
    display: block;
    width: calc(300% + 1.3px);
    height: 500px;
}

.divider_wrapper .shape_fill {
    fill: #78a8d8;
    /* z-index: 9; */
}