@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;1,100;1,200&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
:root {
    --font-size: 1.2rem;
    --primary-font: 'Poppins', sans-serif;
    --secondary-font: 'Space Mono', monospace;
    --black: #1E1C1B;
    --grey: #242935;
    --white: #D9D8D7;
    --text-primary: #b6b6b6;
    --text-secondary: #ececec;
    --bg-primary: #23232e;
    --bg-secondary: #141418;
    --transition-speed: 800ms;
}

html {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: var(--secondary-font);
    font-size: var(--font-size);
    color: var(--white);
    background: rgb(255, 0, 0);
    display: flex;
    flex-flow: row;
    justify-content: flex-start;
    /* align-items: flex-end; */
    /* overflow: hidden; */
}

*::before,
*::after {
    box-sizing: inherit;
}

h1,
h2,
h3,
ul,
li,
p,
a {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    color: var(--white);
    text-decoration: none;
}

a:hover {
    color: var(--black);
}

.imageWrapper {
    width: 100%;
    margin: 0;
    padding: 0;
}