.home {
    background: rgba(0, 0, 255, 0);
    height: 100%;
    width: 100%;
}

.text_wrapper {
    background: rgba(255, 255, 255, 0.281);
    border: solid 2px black;
    margin-top: 20%;
    padding: 2rem 5rem;
}