.container {
    /* overflow: hidden; */
    /* position: relative; */
    background: rgb(0, 0, 0);
    /* flex-basis: 100%; */
    /* border: solid 2px rgb(51, 255, 0); */
    /* width: 97vw; */
    /* height: 97vh; */
    height: 99.8vh;
    width: 99.8vw;
    display: flex;
    background-image: url("/paper-bg.svg");
}

.main {
    /* position: relative; */
    max-width: 1480px;
    background-color: blue;
    margin: 0 0 0 3%;
    height: 98%;
    width: 98%;
}