.ul {
    z-index: 10;
    width: 100%;
    height: 100%;
    transition: width 800ms ease;
    background-color: var(--bg-primary);
    display: flex;
    flex-direction: column;
    /* align-items: center; */
}

.ul:hover {
    width: 20rem;
}

.ul:hover .link_text {
    display: block;
}

.li:last-child {
    margin-top: auto;
}

.li {
    width: 100%;
}

.nav_link {
    display: flex;
    align-items: center;
    height: 5rem;
    color: var(--text-primary);
    text-decoration: none;
    filter: grayscale(100%) opacity(0.7);
    transition: var(--transition-speed);
}

.nav_link:hover {
    filter: grayscale(0%) opacity(1);
    /* background: var(--bg-secondary); */
    color: var(--text-secondary);
}

.nav_link .link_icon {
    width: 6rem;
    min-width: 2rem;
    margin: 0 1.5rem;
}

.link_text {
    display: none;
    /* margin: 1rem; */
}

.logo {
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 1rem;
    /* text-align: center; */
    color: var(--text-secondary);
    background: var(--bg-secondary);
    font-size: 1.5rem;
    letter-spacing: 0.3ch;
}

.logo .link_icon {
    transition: var(--transition-speed);
}

.logo_text {
    display: inline;
    position: absolute;
    left: -150%;
    transition: var(--transition-speed);
}

.ul:hover .logo .link_icon {
    margin-left: 15rem;
    transform: rotate(-540deg);
}

.ul:hover .logo .logo_text {
    /* border: solid 2px purple; */
    padding-left: 1.5rem;
    left: 0;
}