.about {
    background-color: rgba(0, 0, 0, 0);
    position: relative;
    /* background-color: rgb(0, 0, 0); */
    height: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;
    /* align-content: flex-end; */
    gap: 1%;
    /* align-items: flex-end; */
    /* align-items: space-around; */
    justify-content: center;
    /* grid-template-columns: 65% 35%; */
    /* grid-template-rows: 55% 45%; */
}

.section {
    flex-basis: 48%;
    width: 99%;
    display: flex;
    flex-flow: row;
}

.top {
    background-color: rgba(255, 0, 0, 0);
    border: solid 1px rgb(88, 2, 2);
    justify-content: space-between;
}

.bottom {
    background-color: rgb(17, 0, 255);
    border: solid 1px rgb(3, 2, 88);
    justify-content: flex-start;
    gap: 20%;
    /* flex-basis: 45%; */
}


/* .bottom {
    border: solid 1px purple;
    min-height: 50%;
} */

.ul {
    border: solid 1px rgb(255, 0, 0);
    background-color: rgb(0, 255, 0);
    /* display: flex; */
    /* flex-direction: column; */
    /* align-items: flex-end; */
    /* align-content: flex-end; */
    /* gap: 1.8rem; */
    /* justify-content: center; */
}

.li {
    /* background: rgb(21, 21, 99); */
    position: absolute;
    /* padding: 0.2rem; */
    /* border-radius: 30%; */
    display: grid;
    /* height: auto; */
    /* width: auto; */
}

.a {
    border: solid 1px rgb(15, 128, 0);
    background: rgba(47, 47, 238, 0);
    top: 5%;
    right: 5.8%;
    transform: rotate(10deg);
    width: 4rem;
    height: 4rem;
}

.b {
    border: solid 1px rgb(0, 13, 128);
    top: 12%;
    right: 15%;
    /* width: 100px; */
    width: 10.7rem;
    height: 10.7rem;
    transform: rotate(-8deg);
}

.c {
    border: solid 1px rgb(252, 235, 0);
    top: 22%;
    right: 6.2%;
    /* width: 5.2rem; */
    transform: rotate(7deg);
    /* width: 2.5rem; */
}

.howdy_wrapper {
    border: solid 1px rgb(253, 2, 232);
    background-color: rgb(219, 7, 148);
    /* height: 70%; */
    /* width: 100%; */
    /* display: grid; */
    /* padding: 3rem; */
    /* grid-template-columns: 100%; */
    /* margin-bottom: 8rem; */
}

.p {
    border: solid 1px rgb(199, 1, 1);
    background-color: rgb(125, 7, 161);
    color: black;
    /* padding: 3rem; */
}

.guy_wrapper {
    border: solid 1px red;
    background-color: rgb(158, 156, 9);
    width: 700px;
    /* height: 88%; */
    /* display: flex; */
    /* justify-content: flex-end; */
    /* align-items: flex-end; */
    /* padding-bottom: auto; */
    /* grid-template-columns: 100%; */
    /* padding-top: 2rem; */
}