.about {
    /* background-color: rgba(0, 0, 0, 0); */
    position: relative;
    /* background-color: rgb(0, 0, 0); */
    height: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;
    /* align-content: flex-end; */
    gap: 1%;
    /* align-items: flex-end; */
    /* align-items: space-around; */
    justify-content: center;
    /* grid-template-columns: 65% 35%; */
    /* grid-template-rows: 55% 45%; */
}

.section {
    flex-basis: 48%;
    width: 100%;
    display: flex;
    flex-flow: row;
    align-items: center;
    /* align-content: flex-start; */
    justify-content: space-between;
}

.top {
    /* background-color: rgb(255, 0, 0); */
    border: solid 1px rgb(88, 2, 2);
}

.bottom {
    /* background-color: rgb(17, 0, 255); */
    /* border: solid 1px rgb(3, 2, 88); */
    /* justify-content: flex-start; */
    align-items: flex-end;
    gap: 20%;
    /* flex-basis: 45%; */
}


/* .bottom {
    border: solid 1px purple;
    min-height: 50%;
} */

.title {
    margin: 0;
    /* border: solid 2px red; */
    color: #36454f;
    padding: 0 0 0 2.5rem;
    font-family: var(--font-c);
    font-size: 15.5rem;
    letter-spacing: 0.1ch;
    line-height: 3.1ch;
}


/* .ul {
    background-color: green;
    border: solid 2px red;
    width: 200px;
    height: 100px;
} */

.li {
    position: absolute;
    /* display: grid; */
}

.hide {
    display: none;
}

.show {
    display: block;
    position: absolute;
    color: black;
}

.fuck {
    border: 1px solid rgb(3, 245, 56);
    /* position: absolute; */
    background-color: #36454f;
    /* top: 0; */
    /* z-index: 2; */
}

.a {
    top: 5%;
    right: 5.8%;
    transform: rotate(12deg);
}

.a>.btn_wrapper {
    border: solid 1px rgb(0, 255, 0);
    background: rgba(105, 134, 97, 0.774);
    grid-template-columns: 100%;
    display: grid;
    width: 8rem;
    height: 8rem
}

.b {
    top: 19%;
    right: 18%;
    transform: rotate(-8deg);
}

.b>.btn_wrapper {
    border: solid 1px rgb(0, 60, 255);
    background: rgba(91, 91, 145, 0.774);
    grid-template-columns: 100%;
    display: grid;
    width: 5rem;
    height: 5rem
}

.c {
    top: 42%;
    right: 5.2%;
    transform: rotate(-9.8deg);
    border: solid 1px red;
}

.c>.btn_wrapper {
    border: solid 1px rgb(255, 0, 0);
    background: rgba(170, 102, 102, 0.774);
    grid-template-columns: 100%;
    display: grid;
    width: 10.5rem;
    height: 10.5rem
}

.p {
    /* border: solid 1px rgb(199, 1, 1); */
    /* background-color: rgb(125, 7, 161); */
    display: flex;
    flex-flow: column;
    gap: 1.2rem;
    color: #36454f;
    width: 62%;
    padding: 1rem 3rem 6rem 6rem;
    font-family: var(--font-d);
    font-size: 2.2rem;
    letter-spacing: 0.2ch;
    line-height: 3.7ch;
}

.h3,
.p {
    margin: 0;
    padding-top: 0;
}

.guy_wrapper {
    /* border: solid 1px red; */
    display: grid;
    height: 63%;
}