.modal {
    border: solid 2px red;
    /* border-radius: 100%; */
    position: absolute;
    height: 15px;
    width: 100vw;
    top: 0;
    left: 0;
}

.hide {
    display: none;
}

.show {
    display: block;
}

.projects {
    /* gap: 0.5rem; */
    position: relative;
    height: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;
    overflow: hidden;
    justify-content: center;
    margin-right: 5rem;
}

.very_top,
.top_row,
.mid_row,
.bottom_row {
    display: flex;
    flex-direction: row;
    gap: 13.5rem;
}

.very_top {
    justify-content: flex-end;
}

.top_row {
    justify-content: center;
}

.mid_row,
.bottom_row {
    justify-content: flex-start;
}

.top {
    z-index: 2;
}

.bottom {
    background-color: rgba(17, 0, 255, 0.363);
    display: grid;
}

.title {
    margin: 0;
    color: #36454f;
    padding: 0 0 0 2.5rem;
    font-family: var(--font-c);
    font-size: 15.5rem;
    letter-spacing: 0.1ch;
    line-height: 3.1ch;
}

.ul {
    padding: 0 1rem 0 1rem;
    border: solid 2px red;
    background: rgba(208, 255, 0, 0.247);
    display: flex;
}

.text_wrapper {
    border: solid 1px red;
    background-color: rgba(184, 7, 169, 0.993);
    color: black;
    position: absolute;
}

.ugly_title {
    border: solid 1px black;
    top: 0;
    left: 0;
}

.h3,
.li,
.p {
    margin: 0;
    padding-top: 0;
}